{% extends "layout.html" %}

{% block title %}
    Documents
{% endblock %}

{% block main %}
<form action="/docs" method="post">
    <div class="container text-center docs-bar" style="margin-left: 28%;">
        <div class="row">
            {% if doc == None %}
            <div class="col-2 docs-option docs-func" style="margin-left: 1.13cm; width: 7cm;">
                <div class="row">
                    <div class="col-4">             
                        <input autocomplete="off" name="doc_name" type="text" class="form-control" style="margin-left: -0.25; width: 5cm; z-index: 1;" placeholder="Make New Document">
                    </div>
                    <div class="col-2" style="margin-left: 3cm;">   
                        <button style="border-radius: 200px; font-size: large;" type="submit" class="btn btn-dark">+</button>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-4 docs-option docs-func" style="margin-left: 1cm; width: 6.5cm;">
                <div class="row">
                    <div class="col-4 col-sm-2">
                        <select class="form-select docs-field" name="selected_doc_name" type="text" class="form-control">
                            <option selected disabled>Documents</option>
                            {% for doc in doc_names %}
                            <option style= "color: rgb(255, 255, 255);" value="{{doc[0]}}">{{doc[0]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 col-sm-2" style="margin-left: 3cm; width: 2cm;">
                        <button type="submit" class="btn btn-dark" name="action">Open</button>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-2 docs-option docs-func" style="margin-left: 1.25cm; width: 6.5cm;">
                <div class="row">
                    <button style="width: 5cm; margin-left: 1cm;" class='btn btn-dark' id="save_txt">Save changes</button>
                </div>
            </div>
            <div class="col-2 docs-option docs-func" style="margin-left: 1cm; width: 6.5cm;">
                <div class="row">
                    <a class="btn btn-dark" href="/docs" style="width: 5cm; margin-left: 1cm;">Go back to documents</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
<!-- New document or existing document -->
{% if doc == None %}
<div class="selecting-doc">
    No docuemnt selected
</div>
{% elif new_document %}
<div class="doc">
    <div id="file_name">
        <h5 style="margin-top: -0.35cm;"> Document: <input style=" margin-left: 0.25cm; width: 3cm; padding: 0.1cm; border-radius: 15px; text-align: center;" aria-disabled="true" disabled name="doc_name" value="{{doc_name}}">
            <div class="btn-group dropup">
                <button class="btn-close" type="button" data-bs-toggle="dropdown" aria-label="Close" style="margin-top: -0.2cm;"></button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"><input type="hidden" name="remove" value="{{doc_name}}"><button class='btn btn-dark' id="remove" value="{{doc_name}}" type="submit">Remove Document</button></a></li>
                    <li><a class="dropdown-item" href="#">Cancel</a></li>
                </ul>
            </div>
        </h5>
    </div>
    <div style="margin-top: 2cm;">     
        <textarea class="doc_div" name="edited_txt" placeholder="Type something here..."></textarea> 
    </div>
</div>
{% else %}
<div class="doc">
    <div id="file_name">
        <h5 style="margin-top: -0.35cm;"> Document: <input style=" margin-left: 0.25cm; width: 3cm; padding: 0.1cm; border-radius: 15px; text-align: center;" aria-disabled="true" disabled name="doc_name" value="{{doc_name}}">
            <div class="btn-group dropup">
                <button class="btn-close" type="button" data-bs-toggle="dropdown" aria-label="Close" style="margin-top: -0.2cm;"></button>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item"><button class='btn btn-dark' id="remove" value="{{doc_name}}">Remove Document</button></a></li>
                <li><a class="dropdown-item" href="#">Cancel</a></li>
                </ul>
            </div>
        </h5>
    </div>
    <div style="margin-top: 2cm;">     
        <textarea class="doc_div" name="edited_txt" id="txt">{{doc}}</textarea>  
    </div>
</div>
{% endif %}
</form>

<script>
    // Remove button
    button = document.getElementById("remove")

    button.addEventListener('click', () => {
        var r = new XMLHttpRequest();
        r.open("POST", "http://127.0.0.1:5000/remove_doc", true);
        r.onreadystatechange = function () {
            if (r.readyState != 4 || r.status != 200) return;
        };
        // Send data in below way from JS
        r.send(JSON.stringify({"input": button.getAttribute("value")}));
    });
</script>
{% endblock %}